@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color: white;
    padding: 0 20px;
    gap: 8px;
}

header p {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

header nav a {
    color: #E5E7EB;
    text-decoration: none;
    margin-left: 10px;
    font-size: 18px;
}

.hero {
    width: 100%;
    padding: 2rem 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color: white;
}

.hero .hero-text .hero-main-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    padding: 0 20px 0 0;
}

.hero .hero-text .hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    padding: 0 20px 0 0;
}

.hero .hero-text .hero-btn {
    background-color: #3882f6;
    border: none;
    padding: 0.6rem 1.7rem;
    border-radius: 8px;
    color: white;
    font-weight: 900;
    cursor: pointer;
    font-size: 16px;
}

.hero img {
    flex: 1 1 400px;
}